@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3 col-sm-12">
        <img src="/images/home.png" class="img-fluid img-fluid" style="align-content:center" />
    </div>
    <div class="col-md-9 col-sm-12">
        <div>
            <h1 class="display-4">Van ERD naar database</h1>
            <h2>Maak een ASP.NET MVC applicatie op basis van een ERD</h2>
            <p>
                Deze applicatie is de uitwerking van een tutorial, waarin een vereenvoudigde applicatie wordt gebouwd om cijfers van studenten te registreren. Op basis van een gegeven casus wordt eerst in de
                <a target="_blank" href="https://www.oracle.com/database/sqldeveloper/technologies/sql-data-modeler/">Oracle Data Modeler</a> een logisch ontwerp gemaakt. Dit wordt vervolgens uitgewerkt naar een relationeel model.
            </p>
            <p>In Visual Studio wordt de ASP.NET/MVC applicatie gebouwd met als eindresultaat de volgende functionaliteiten:</p>
            <ul>
                <li>Toevoegen studenten, docenten en vakken</li>
                <li>Wijzigen studenten, docenten en vakken</li>
                <li>Verwijderen studenten, docenten en vakken</li>
                <li>Toevoegen, wijzigen en verwijderen van toetsresultaten</li>
            </ul>
            <p>De tutorial kun je bekijken (en desgewenst downloaden) door <a target="_blank" href="/files/Van ERD naar applicatie naar database.pdf">hier te klikken</a>.</p>
        </div>
    </div>
</div>


